{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <style>
        div.wrapper{
            display: flex;
            color: blue;
        }
    </style>

    <div class="wrapper">
        <ul>
            {% for project in projects %}
                <li>{{ project.name }}</li>
                Created at: {{ project.createdAt|date }}<br>
                Updated at: {{ project.updatedAt|date }}<br>
            {% endfor %}
        </ul>
        <ul>
            {% for project_group in project_groups %}
                <li>{{ project_group.name }}</li>
                Created at: {{ project_group.createdAt|date }}<br>
                Updated at: {{ project_group.updatedAt|date }}<br>
            {% endfor %}
        </ul>
        <ul>
            {% for task in tasks %}
                <li>{{ task.name }}</li>
                Description: {{ task.description }}<br>
                Created at: {{ task.createdAt|date }}<br>
                Updated at: {{ task.updatedAt|date }}<br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
