{% extends 'base.html.twig' %}

{% block title %}Список задач{% endblock %}

{% block body %}
    <h1>Список заадач</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.createdAt ? task.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.updatedAt ? task.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_task_show', {'id': task.id}) }}">посмотреть</a>
                    <a href="{{ path('app_task_edit', {'id': task.id}) }}">редактировать</a>
                    {{ include('task/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Записи не найдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
